host:
  name: jaiz-express-demo-d3a9ebd9ecba.herokuapp.com/
  scheme: https
server:
  contextPath: /v1
  port: 9191
  ssl:
    enabled: false
spring:
  main:
    allow-bean-definition-overriding: true
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  jpa:
    properties:
      hibernate:
        show-sql: true
        default-schema: jaizex
        generate-statistics: false
        order-inserts: true
        jdbc:
          batch-size: 10
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    password: cfee11c56cd2a79daf11182c433bf7450c3c541f677a36606a8d3febdc1933a5
    url: jdbc:postgresql://ec2-35-169-11-108.compute-1.amazonaws.com:5432/d9gjuds0a6sveh?currentSchema=jaizex
    username: gaztlqwmgyoasd
    hikari:
      connection-timeout: 30000
      idle-timeout: 30000
      minimum-idle: 5
      maximum-pool-size: 20
      leak-detection-threshold: 1000
      pool-name: JEXPOOL
      max-lifetime: 2000000
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
flyway:
  locations: classpath:db/migration
  schemas: jaizex
  table: flyway_schema_history
jwt:
  secret: Gh5k*O8MQ!0oru*z
springdoc:
  api-docs:
    path: /jaizex-api-docs
  swagger-ui:
    path: /swagger-ui-jaizex.html
    operationsSorter: alpha
    tagsSorter: alpha